extends layout

block content
  h1= title
  p
  form(method='GET')
    input(type='text', name='search', id='search')
    input(type='submit', value='Search Books')
  p
  table
    tr 
      th Title
      th Author 
      th Genre 
      th Year
    for book in books
      tr 
        td 
          a(href=`books/${book.id}`) !{book.title}

        td= book.author

        td= book.genre 

        td= book.year
  p
  a(class='button' href='books/new') Create New Book