extends layout

block content
    h1= `Search Results for "${search}"`
    p
    table
      tr 
        th Title
        th Author 
        th Genre 
        th Year
      for book in books
        tr 
          td 
            a(href=`../../books/${ book.id}`) !{ book.title}
          td=  book.author
          td=  book.genre 
          td=  book.year
    p
    p Page #{page} of #{pages}
    p
    if (page !== 1)
      a(class='button' href=`../../books?search=${search}&page=${previousPage}`) Previous Page
    if (page !== pages)
      a(class='button' href=`../../books?search=${search}&page=${nextPage}`) Next Page
    p
    a(class='button' href='../../books') Back